*, *::after, *::before{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/*---Modal---*/
.modal-success{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: abrirModal 0.87s;
}

.modal{
	background-color: #3a8620;
	width: 40%;
	max-width: 600px;
	height: 50%;
	max-height: 300px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, .5);
}

@keyframes abrirModal{
	from{
		opacity: 0;
		height: 0;
		font-size: 0;
	}
	to{
		opacity: 1; 
		height: 100vh;
	}
}

@keyframes fecharModal{
	from{
		opacity: 1;
		height: 100vh;
	}
	to{
		opacity: 0;
		height: 0;
	}
}

.modal-close{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.modal-close span{
	font-size: 1.7rem;
	font-family: Asap;
	font-weight: 700;
	color: #FFF;
	padding: 5px 10px;
	border: 2px solid #FFF;
	border-radius: 5px;
	cursor: pointer;
}

.modal-close span:hover{
	background-color: red;
	color: #000;
	border: 2px solid red;
	transition-duration: 0.3s;
}

.modal-close span:active .modal{
	background-color: black;
}

.modal-text{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Asap;
}

.modal-text h2{
	font-size: 5rem;
	color: #f2d51a;
	margin-bottom: 15px;
}

.modal-text p{
	font-size: 1.4rem;
	color: #fff;
}
/*-------------------------*/

.topo{
	position: fixed;
	width: 100%;
	background-color: rgba(237, 237, 237, 0.59);
	display: flex;
	padding: 0 30px;
}

html{font-size: 62.5%}

.topo img{
	width: 95px;
}

.frase-topo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.frase-topo h2{
	font-family: Arial, sans-sarif;
	font-size: 2.3rem;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.background{
	width: 100%;
	height: 100vh;
	background-image: url("../images/aa.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.main{
	width: 100%;
	height: 100%;
	padding-top: 105px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}

.frase-main{
	width: 100%;
	display: flex;
	justify-content: center;
}

.frase-main h2{
	width: 50%;
	max-width: 700px;
	font-size: 3rem;
	text-align: center;
	font-family: 'Asap';
	font-weight: 100;
	background: radial-gradient(#dcdcdc, transparent);
    padding: 15px 0;
    border-radius: 10px;
}

.container-formulario{
	width: 100%;
	display: flex;
	justify-content: center;
}

.formulario{
	width: 50%;
	max-width: 400px;
	background-color: #f2d51a;
	padding: 30px 20px;
	border-radius: 5px;
	font-family: 'Asap';
	text-align: center;
	box-shadow: -10px 11px 15px 4px rgba(95, 85, 20, 0.32);
}

.formulario h4{
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	padding: 20px 0;
}

.formulario p{
	margin-top: 10px;
	font-size: 1.6rem;
	font-weight: 600;
	color: #3c13db;
}

.formulario input{
	width: 100%;
	padding: 15px;
	font-size: 1.6rem;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	border-bottom: 5px solid #d4d4d4;
}

.formulario input:focus{
	border-bottom: 5px solid #b29c0f;
	transition-duration: 0.4s;
}

.formulario input[type="submit"]{
	margin-top: 30px;
	width: 90%;
	font-size: 2.3rem;
	font-weight: bold;
	background-color: #cdb938;
	border: none;
	border-radius: 5px;
	border-bottom: 5px solid #b29c0f;
	cursor: pointer;
}

.formulario input[type="submit"]:hover{
	box-shadow: -5px 5px 14px 2px rgba(95, 85, 20, 0.27);
	border-bottom: 5px solid #645705;
    background-color: #b09800;
	transition-duration: 0.5s;
}

@media screen and (max-width: 768px){.modal{width: 70%;}}

@media screen and (max-width: 830px) and (max-height: 420px){
	.modal{width: 80%;}
	.background, .modal-text{height: auto;}
	.container-formulario{padding: 20px 0;}
}

@media screen and (max-width: 570px){
	html{font-size: 52%;}

	.modal{width: 80%;}
	.modal-text h2{font-size: 4rem;}
	.frase-main h2{width: 90%;}
	.formulario {width: 80%;}
}

@media screen and (max-width: 320px){
	html{font-size: 48%;}

	.background{height: auto;}
	.modal{width: 90%;}
	.container-formulario{padding: 20px 0;}
}